<html>

<head>
    <title>Todo App</title>
    <style>
        .hidden {
            display: none
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 300px;
        }

        li {
            clear: both;

        }

        li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            font-size: 20px;
            cursor: pointer;
        }

        .lists-wrapper,
        .todos-wrapper {
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <div class="lists-wrapper">
        <form id="form_list">
            <input type="text" id="list" name="list" />
            <input type="submit" value="Create List" />
        </form>
        <ul id="lists">
            {% for list in lists %}
            <li>
                <input class="checked-completed-list" data-id="{{list.id}}" type="checkbox" {% if list.completed %}
                    checked {% endif %} />
                <a href="/lists/{{list.id}}"> {{ list.name }} </a>
                <button class="delete-it-list" data-id="{{list.id}}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="todos-wrapper">
        <h4>{{active_list.name}}</h4>
        <form id="form_todo">
            <input type="text" id="description" name="description" />
            <input type="submit" value="Create Todo" />
        </form>
        <div id="error" class="hidden">Something went wrong !</div>
        <ul id="todos">
            {%for d in data%}
            <li><input class="checked-completed" data-id="{{d.id}}" type="checkbox" {% if d.completed %} checked {%
                    endif %} />
                {{d.description}}
                <button class="delete-it" data-id="{{d.id}}">&cross;</button>
            </li>
            {% endfor %}
        </ul>

    </div>



    <script>
        const boxes = document.querySelectorAll(".checked-completed");
        for (i = 0; i < boxes.length; i++) {
            boxes[i].onchange = (function (e) {
                console.log('event', e)
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function () {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function () {
                        document.getElementById('error').className = '';
                    })

            })
        }

        const boxes_list = document.querySelectorAll(".checked-completed-list");
        for (i = 0; i < boxes_list.length; i++) {
            boxes_list[i].onchange = (function (e) {
                console.log('event', e)
                const newCompleted = e.target.checked;
                const list_id = e.target.dataset['id'];
                fetch('/lists/' + list_id + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function () {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function () {
                        document.getElementById('error').className = '';
                    })

            })
        }
        const buttons = document.querySelectorAll('.delete-it');
        for (i = 0; i < buttons.length; i++) {
            buttons[i].onclick = (function (e) {
                const toDelete = e.target.dataset['id'];
                fetch('/todos/' + toDelete, {
                    method: 'DELETE',
                });
            })
        }

        const buttons_list = document.querySelectorAll('.delete-it-list');
        for (i = 0; i < buttons_list.length; i++) {
            buttons_list[i].onclick = (function (e) {
                const listID = e.target.dataset['id'];
                fetch('/lists/' + listID + '/delete', {
                    method: 'DELETE'
                });
            })
        }


        document.getElementById('form_todo').onsubmit = function (e) {
            e.preventDefault();
            var url = window.location.pathname;
            var list_id = url.substring(url.lastIndexOf('/') + 1);
            fetch('/lists/' + list_id, {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('description').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(function (response) {
                    return response.json();

                })
                .then(function (jsonResponse) {
                    console.log(jsonResponse)
                    const liItem = document.createElement('li');
                    liItem.innerHTML = '<input class="checked-completed" type="checkbox"/> ' + jsonResponse['description'] + '<button class="delete-it">&cross;</button>';
                    document.getElementById('todos').appendChild(liItem);
                    document.getElementById('error').className = 'hidden';

                })
                .catch(function () {
                    document.getElementById('error').className = '';
                })

        }
        document.getElementById('form_list').onsubmit = function (e) {
            e.preventDefault();
            var url = window.location.pathname;
            var list_id = url.substring(url.lastIndexOf('/') + 1);
            fetch('/lists/createlistitem', {
                method: 'POST',
                body: JSON.stringify({
                    'name': document.getElementById('list').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(function (response) {
                    return response.json();

                })
                .then(function (jsonResponse) {
                    console.log(jsonResponse)
                    const liItem = document.createElement('li');
                    liItem.innerHTML = `<a href="${url}">` + jsonResponse['name'] + '</a>';
                    document.getElementById('lists').appendChild(liItem);
                    document.getElementById('error').className = 'hidden';

                })
                .catch(function () {
                    document.getElementById('error').className = '';
                })

        }
    </script>
</body>

</html>